<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sotka</title>
</head>
<body>
  <header class="row content_between align_center">
    <div><img class="logo"  onclick='window.location.href="../hi"' src="/imgs/logo.png"></div>
    <div>
      <ul class="ul_inline margin_0">
        <li onclick='window.location.href="posts"'>Публикации</li>
        <li>Профиль</li>
        <li>О проекте</li>
        <li class="bold_text">Вступить</li>
      </ul>
    </div>
  </header>


  <section class="p_l_section p_r_section " style="margin-top: 30px;">
    <div class="section_h " style="font-size: 64px;">Мой Рецепт - Новый Рецепт</div>
    <%= form_with model: @post do |form| %>
    <div class="row wrap content_between">
      <input class="input_style2" placeholder="Автор" type="text" name="">
      <input class="input_style2" placeholder="Время приготовления" type="text" name="">
      <%= form.text_field :title, :class => 'input_style2', :placeholder => "Название" %>
      <input class="input_style2" placeholder="Итого на порцию" type="text" name="">
      <%= form.text_field :tags, :class => 'input_style2', :placeholder => "Ингридиенты"  %>
    </div>
    <div>
      <p class="p_in_new">Рецепт</p>
      <div class="row align_end" style="justify-content: end;">
        <%= form.text_area :body, :class => 'area', :style => 'padding: 40px;font-size: 18px;' %> 
        <%= form.submit 'отправить', :class => 'btn_input' %>
      </div>
    </div>
    <% end %>
  </section>


  <footer class="m_t_section">
    <div class="f1 row content_end">
      <ul class="ul_inline margin_0">
        <li onclick='window.location.href="posts"'>Публикации</li>
        <li>Профиль</li>
        <li>О проекте</li>
        <li class="bold_text">Вступить</li>
      </ul>
    </div>
    <div class="f1 f2 dot_styled_top">
      <ul class="margin_0 ul_inline ">
        <li class="margin_0">Концепция</li>
        <li>Исследования</li>
        <li>Целевая аудитория</li>
        <li>Функционал</li>
      </ul>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript">

</html>
